certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
filelock==3.19.1
fsspec==2025.7.0
idna==3.10
Jinja2==3.1.6
llvmlite==0.44.0
MarkupSafe==3.0.2
more-itertools==10.7.0
mpmath==1.3.0
networkx==3.5
numba==0.61.2
numpy==2.2.6
openai-whisper==20250625
pycparser==2.22
pyobjc==11.1; sys_platform == "darwin"
pyobjc-core==11.1; sys_platform == "darwin"
pyobjc-framework-Accessibility==11.1; sys_platform == "darwin"
pyobjc-framework-Accounts==11.1; sys_platform == "darwin"
pyobjc-framework-AddressBook==11.1; sys_platform == "darwin"
pyobjc-framework-AdServices==11.1; sys_platform == "darwin"
pyobjc-framework-AdSupport==11.1; sys_platform == "darwin"
pyobjc-framework-AppleScriptKit==11.1; sys_platform == "darwin"
pyobjc-framework-AppleScriptObjC==11.1; sys_platform == "darwin"
pyobjc-framework-ApplicationServices==11.1; sys_platform == "darwin"
pyobjc-framework-AppTrackingTransparency==11.1; sys_platform == "darwin"
pyobjc-framework-AudioVideoBridging==11.1; sys_platform == "darwin"
pyobjc-framework-AuthenticationServices==11.1; sys_platform == "darwin"
pyobjc-framework-AutomaticAssessmentConfiguration==11.1; sys_platform == "darwin"
pyobjc-framework-Automator==11.1; sys_platform == "darwin"
pyobjc-framework-AVFoundation==11.1; sys_platform == "darwin"
pyobjc-framework-AVKit==11.1; sys_platform == "darwin"
pyobjc-framework-BusinessChat==11.1; sys_platform == "darwin"
pyobjc-framework-CalendarStore==11.1; sys_platform == "darwin"
pyobjc-framework-CallKit==11.1; sys_platform == "darwin"
pyobjc-framework-Carbon==11.1; sys_platform == "darwin"
pyobjc-framework-CFNetwork==11.1; sys_platform == "darwin"
pyobjc-framework-ClassKit==11.1; sys_platform == "darwin"
pyobjc-framework-CloudKit==11.1; sys_platform == "darwin"
pyobjc-framework-Cocoa==11.1; sys_platform == "darwin"
pyobjc-framework-Collaboration==11.1; sys_platform == "darwin"
pyobjc-framework-ColorSync==11.1; sys_platform == "darwin"
pyobjc-framework-Contacts==11.1; sys_platform == "darwin"
pyobjc-framework-ContactsUI==11.1; sys_platform == "darwin"
pyobjc-framework-CoreAudio==11.1; sys_platform == "darwin"
pyobjc-framework-CoreAudioKit==11.1; sys_platform == "darwin"
pyobjc-framework-CoreBluetooth==11.1; sys_platform == "darwin"
pyobjc-framework-CoreData==11.1; sys_platform == "darwin"
pyobjc-framework-CoreHaptics==11.1; sys_platform == "darwin"
pyobjc-framework-CoreLocation==11.1; sys_platform == "darwin"
pyobjc-framework-CoreMedia==11.1; sys_platform == "darwin"
pyobjc-framework-CoreMediaIO==11.1; sys_platform == "darwin"
pyobjc-framework-CoreMIDI==11.1; sys_platform == "darwin"
pyobjc-framework-CoreML==11.1; sys_platform == "darwin"
pyobjc-framework-CoreMotion==11.1; sys_platform == "darwin"
pyobjc-framework-CoreServices==11.1; sys_platform == "darwin"
pyobjc-framework-CoreSpotlight==11.1; sys_platform == "darwin"
pyobjc-framework-CoreText==11.1; sys_platform == "darwin"
pyobjc-framework-CoreWLAN==11.1; sys_platform == "darwin"
pyobjc-framework-CryptoTokenKit==11.1; sys_platform == "darwin"
pyobjc-framework-DataDetection==11.1; sys_platform == "darwin"
pyobjc-framework-DeviceCheck==11.1; sys_platform == "darwin"
pyobjc-framework-DictionaryServices==11.1; sys_platform == "darwin"
pyobjc-framework-DiscRecording==11.1; sys_platform == "darwin"
pyobjc-framework-DiscRecordingUI==11.1; sys_platform == "darwin"
pyobjc-framework-DiskArbitration==11.1; sys_platform == "darwin"
pyobjc-framework-DVDPlayback==11.1; sys_platform == "darwin"
pyobjc-framework-EventKit==11.1; sys_platform == "darwin"
pyobjc-framework-ExceptionHandling==11.1; sys_platform == "darwin"
pyobjc-framework-ExecutionPolicy==11.1; sys_platform == "darwin"
pyobjc-framework-ExternalAccessory==11.1; sys_platform == "darwin"
pyobjc-framework-FileProvider==11.1; sys_platform == "darwin"
pyobjc-framework-FileProviderUI==11.1; sys_platform == "darwin"
pyobjc-framework-FinderSync==11.1; sys_platform == "darwin"
pyobjc-framework-FSEvents==11.1; sys_platform == "darwin"
pyobjc-framework-GameCenter==11.1; sys_platform == "darwin"
pyobjc-framework-GameController==11.1; sys_platform == "darwin"
pyobjc-framework-GameKit==11.1; sys_platform == "darwin"
pyobjc-framework-GameplayKit==11.1; sys_platform == "darwin"
pyobjc-framework-ImageCaptureCore==11.1; sys_platform == "darwin"
pyobjc-framework-InputMethodKit==11.1; sys_platform == "darwin"
pyobjc-framework-InstallerPlugins==11.1; sys_platform == "darwin"
pyobjc-framework-InstantMessage==11.1; sys_platform == "darwin"
pyobjc-framework-Intents==11.1; sys_platform == "darwin"
pyobjc-framework-IntentsUI==11.1; sys_platform == "darwin"
pyobjc-framework-IOBluetooth==11.1; sys_platform == "darwin"
pyobjc-framework-IOBluetoothUI==11.1; sys_platform == "darwin"
pyobjc-framework-IOSurface==11.1; sys_platform == "darwin"
pyobjc-framework-iTunesLibrary==11.1; sys_platform == "darwin"
pyobjc-framework-KernelManagement==11.1; sys_platform == "darwin"
pyobjc-framework-LatentSemanticMapping==11.1; sys_platform == "darwin"
pyobjc-framework-LaunchServices==11.1; sys_platform == "darwin"
pyobjc-framework-libdispatch==11.1; sys_platform == "darwin"
pyobjc-framework-libxpc==11.1; sys_platform == "darwin"
pyobjc-framework-LinkPresentation==11.1; sys_platform == "darwin"
pyobjc-framework-LocalAuthentication==11.1; sys_platform == "darwin"
pyobjc-framework-LocalAuthenticationEmbeddedUI==11.1; sys_platform == "darwin"
pyobjc-framework-MailKit==11.1; sys_platform == "darwin"
pyobjc-framework-MapKit==11.1; sys_platform == "darwin"
pyobjc-framework-MediaAccessibility==11.1; sys_platform == "darwin"
pyobjc-framework-MediaLibrary==11.1; sys_platform == "darwin"
pyobjc-framework-MediaPlayer==11.1; sys_platform == "darwin"
pyobjc-framework-MediaToolbox==11.1; sys_platform == "darwin"
pyobjc-framework-Metal==11.1; sys_platform == "darwin"
pyobjc-framework-MetalKit==11.1; sys_platform == "darwin"
pyobjc-framework-MetalPerformanceShaders==11.1; sys_platform == "darwin"
pyobjc-framework-MetalPerformanceShadersGraph==11.1; sys_platform == "darwin"
pyobjc-framework-MetricKit==11.1; sys_platform == "darwin"
pyobjc-framework-MLCompute==11.1; sys_platform == "darwin"
pyobjc-framework-ModelIO==11.1; sys_platform == "darwin"
pyobjc-framework-MultipeerConnectivity==11.1; sys_platform == "darwin"
pyobjc-framework-NaturalLanguage==11.1; sys_platform == "darwin"
pyobjc-framework-NetFS==11.1; sys_platform == "darwin"
pyobjc-framework-Network==11.1; sys_platform == "darwin"
pyobjc-framework-NetworkExtension==11.1; sys_platform == "darwin"
pyobjc-framework-NotificationCenter==11.1; sys_platform == "darwin"
pyobjc-framework-OpenDirectory==11.1; sys_platform == "darwin"
pyobjc-framework-OSAKit==11.1; sys_platform == "darwin"
pyobjc-framework-OSLog==11.1; sys_platform == "darwin"
pyobjc-framework-PassKit==11.1; sys_platform == "darwin"
pyobjc-framework-PencilKit==11.1; sys_platform == "darwin"
pyobjc-framework-PHASE==11.1; sys_platform == "darwin"
pyobjc-framework-Photos==11.1; sys_platform == "darwin"
pyobjc-framework-PhotosUI==11.1; sys_platform == "darwin"
pyobjc-framework-PreferencePanes==11.1; sys_platform == "darwin"
pyobjc-framework-PushKit==11.1; sys_platform == "darwin"
pyobjc-framework-Quartz==11.1; sys_platform == "darwin"
pyobjc-framework-QuickLookThumbnailing==11.1; sys_platform == "darwin"
pyobjc-framework-ReplayKit==11.1; sys_platform == "darwin"
pyobjc-framework-SafariServices==11.1; sys_platform == "darwin"
pyobjc-framework-SceneKit==11.1; sys_platform == "darwin"
pyobjc-framework-ScreenCaptureKit==11.1; sys_platform == "darwin"
pyobjc-framework-ScreenSaver==11.1; sys_platform == "darwin"
pyobjc-framework-ScreenTime==11.1; sys_platform == "darwin"
pyobjc-framework-ScriptingBridge==11.1; sys_platform == "darwin"
pyobjc-framework-SearchKit==11.1; sys_platform == "darwin"
pyobjc-framework-Security==11.1; sys_platform == "darwin"
pyobjc-framework-SecurityFoundation==11.1; sys_platform == "darwin"
pyobjc-framework-SecurityInterface==11.1; sys_platform == "darwin"
pyobjc-framework-ServiceManagement==11.1; sys_platform == "darwin"
pyobjc-framework-ShazamKit==11.1; sys_platform == "darwin"
pyobjc-framework-Social==11.1; sys_platform == "darwin"
pyobjc-framework-SoundAnalysis==11.1; sys_platform == "darwin"
pyobjc-framework-Speech==11.1; sys_platform == "darwin"
pyobjc-framework-SpriteKit==11.1; sys_platform == "darwin"
pyobjc-framework-StoreKit==11.1; sys_platform == "darwin"
pyobjc-framework-SyncServices==11.1; sys_platform == "darwin"
pyobjc-framework-SystemConfiguration==11.1; sys_platform == "darwin"
pyobjc-framework-SystemExtensions==11.1; sys_platform == "darwin"
pyobjc-framework-UniformTypeIdentifiers==11.1; sys_platform == "darwin"
pyobjc-framework-UserNotifications==11.1; sys_platform == "darwin"
pyobjc-framework-UserNotificationsUI==11.1; sys_platform == "darwin"
pyobjc-framework-VideoSubscriberAccount==11.1; sys_platform == "darwin"
pyobjc-framework-VideoToolbox==11.1; sys_platform == "darwin"
pyobjc-framework-Virtualization==11.1; sys_platform == "darwin"
pyobjc-framework-Vision==11.1; sys_platform == "darwin"
pyobjc-framework-WebKit==11.1; sys_platform == "darwin"
pyttsx3==2.99
regex==2025.7.34
requests==2.32.5
sounddevice==0.5.2
sympy==1.14.0
tiktoken==0.11.0
torch==2.8.0
tqdm==4.67.1
typing_extensions==4.14.1
urllib3==2.5.0
webrtcvad==2.3.0
